/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: #FFFFFF;
	-fx-font-size: 20px;
}

.topHBox {
	-fx-background-color: #9ED4F3;
}

.bottomHBox {
	-fx-background-color: #9ED4F3;
}
.normalText{
	-fx-font-size: 30px;
}
.smallText{
	-fx-font-size: 15px;
}
.title {
	-fx-font-size: 35px;
}

.NormalButton {
	-fx-background-color: #1b71a3;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-padding: 5px;
}

.NormalButton:hover {
	-fx-background-color: #f9c116;
	-fx-font-size: 20px;
	-fx-padding: 5px;
}
.popUpButton {
	-fx-background-color: #1b71a3;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-padding: 2px;
}
.popUpButton:hover {
	-fx-background-color: #f9c116;
	-fx-font-size: 15px;
	-fx-padding: 2px;
}
.backButton{
	-fx-background-color: #f2a529;
	-fx-font-size: 20px;
	-fx-padding: 5px;
}

.backButton:hover{
	-fx-text-fill: white;
}